.div {
  	position: absolute;
  	top: 2655px;
  	left: 0px;
  	font-weight: 800;
  	white-space: pre-wrap;
  	display: inline-block;
  	width: 1476px;
}
.div1 {
  	position: absolute;
  	top: 706px;
  	left: -35px;
  	font-weight: 800;
  	white-space: pre-wrap;
  	display: inline-block;
  	width: 1548px;
}
.div2 {
  	position: absolute;
  	top: 2695px;
  	left: 14px;
  	font-weight: 800;
  	white-space: pre-wrap;
  	display: inline-block;
  	width: 1476px;
}
.div3 {
  	position: absolute;
  	top: 2735px;
  	left: 0px;
  	font-weight: 800;
  	white-space: pre-wrap;
  	display: inline-block;
  	width: 1476px;
}
.div4 {
  	position: absolute;
  	top: 2775px;
  	left: 14px;
  	font-weight: 800;
  	white-space: pre-wrap;
  	display: inline-block;
  	width: 1476px;
}
.div5 {
  	position: absolute;
  	top: 2815px;
  	left: 7px;
  	font-weight: 800;
  	white-space: pre-wrap;
  	display: inline-block;
  	width: 1476px;
}
.div6 {
  	position: absolute;
  	top: 2855px;
  	left: 21px;
  	font-weight: 800;
  	white-space: pre-wrap;
  	display: inline-block;
  	width: 1476px;
}
.div7 {
  	position: absolute;
  	top: 2895px;
  	left: 7px;
  	font-weight: 800;
  	white-space: pre-wrap;
  	display: inline-block;
  	width: 1476px;
}
.div8 {
  	position: absolute;
  	top: 2935px;
  	left: 21px;
  	font-weight: 800;
  	white-space: pre-wrap;
  	display: inline-block;
  	width: 1476px;
}
.div9 {
  	position: absolute;
  	top: 3538px;
  	left: 345px;
  	font-weight: 800;
  	white-space: pre-wrap;
  	display: inline-block;
  	width: 156px;
  	height: 41px;
}
.div10 {
  	position: absolute;
  	top: 3694px;
  	left: 304px;
  	font-weight: 800;
  	white-space: pre-wrap;
  	display: inline-block;
  	width: 156px;
  	height: 41px;
  	transform:  rotate(-90deg);
  	transform-origin: 0 0;
}
.div11 {
  	position: absolute;
  	top: 4001px;
  	left: 1224px;
  	font-weight: 800;
  	white-space: pre-wrap;
  	display: inline-block;
  	width: 156px;
  	height: 41px;
  	transform:  rotate(-180deg);
  	transform-origin: 0 0;
}
.div12 {
  	position: absolute;
  	top: 3845px;
  	left: 1265px;
  	font-weight: 800;
  	white-space: pre-wrap;
  	display: inline-block;
  	width: 156px;
  	height: 41px;
  	transform:  rotate(90deg);
  	transform-origin: 0 0;
}
.syabon2-icon {
  	position: absolute;
  	top: 320px;
  	left: 559px;
  	width: 325px;
  	height: 325px;
  	object-fit: cover;
}
.syabon2-icon1 {
  	position: absolute;
  	top: 1476px;
  	left: 558px;
  	width: 373px;
  	height: 373px;
  	object-fit: cover;
}
.syaon4-1-icon {
  	position: absolute;
  	top: 5492px;
  	left: 625px;
  	width: 294px;
  	height: 294px;
  	object-fit: cover;
}
.syaon4-3-icon {
  	position: absolute;
  	top: 3625px;
  	left: 434px;
  	width: 294px;
  	height: 294px;
  	object-fit: cover;
}
.syaon4-4-icon {
  	position: absolute;
  	top: 3625px;
  	left: 813px;
  	width: 294px;
  	height: 294px;
  	object-fit: cover;
}
.syabon2-icon2 {
  	position: absolute;
  	top: 320px;
  	left: 1031px;
  	width: 325px;
  	height: 325px;
  	object-fit: cover;
}
.syabon3-icon {
  	position: absolute;
  	top: 1454px;
  	left: 203px;
  	width: 138px;
  	height: 130px;
  	object-fit: cover;
}
.syabon3-icon1 {
  	position: absolute;
  	top: 1788px;
  	left: 1120px;
  	width: 138px;
  	height: 130px;
  	object-fit: cover;
}
.div13 {
  	position: absolute;
  	top: 1461px;
  	left: 163.88px;
  	font-size: 16px;
  	font-weight: 800;
  	white-space: pre-wrap;
  	display: inline-block;
  	width: 357px;
  	height: 41px;
  	transform:  rotate(27.4deg);
  	transform-origin: 0 0;
}
.div14 {
  	position: absolute;
  	top: 1788px;
  	left: 1077.88px;
  	font-size: 16px;
  	font-weight: 800;
  	white-space: pre-wrap;
  	display: inline-block;
  	width: 357px;
  	height: 41px;
  	transform:  rotate(27.4deg);
  	transform-origin: 0 0;
}
.syabon1-icon {
  	position: absolute;
  	top: 2695px;
  	left: 636px;
  	width: 242px;
  	height: 242px;
  	object-fit: cover;
}
.syabon1-icon1 {
  	position: absolute;
  	top: 4558px;
  	left: 165px;
  	width: 319.9px;
  	height: 319.9px;
  	object-fit: contain;
}
.syabon1-icon2 {
  	position: absolute;
  	top: 4558px;
  	left: 957px;
  	width: 319.9px;
  	height: 319.9px;
  	object-fit: contain;
}
.div15 {
  	position: absolute;
  	top: 5442px;
  	left: 391px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div16 {
  	position: absolute;
  	top: 5506px;
  	left: 330px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div17 {
  	position: absolute;
  	top: 5471px;
  	left: 353px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div18 {
  	position: absolute;
  	top: 5547px;
  	left: 330px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div19 {
  	position: absolute;
  	top: 5581px;
  	left: 352px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div20 {
  	position: absolute;
  	top: 5611px;
  	left: 392px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div21 {
  	position: absolute;
  	top: 5645px;
  	left: 391px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div22 {
  	position: absolute;
  	top: 5677px;
  	left: 363px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div23 {
  	position: absolute;
  	top: 5709px;
  	left: 330px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div24 {
  	position: absolute;
  	top: 5750px;
  	left: 330px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div25 {
  	position: absolute;
  	top: 5784px;
  	left: 352px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div26 {
  	position: absolute;
  	top: 5814px;
  	left: 392px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div27 {
  	position: absolute;
  	top: 5448px;
  	left: 1152px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div28 {
  	position: absolute;
  	top: 5512px;
  	left: 1091px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div29 {
  	position: absolute;
  	top: 5477px;
  	left: 1114px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div30 {
  	position: absolute;
  	top: 5553px;
  	left: 1091px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div31 {
  	position: absolute;
  	top: 5587px;
  	left: 1113px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div32 {
  	position: absolute;
  	top: 5617px;
  	left: 1153px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div33 {
  	position: absolute;
  	top: 5651px;
  	left: 1152px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div34 {
  	position: absolute;
  	top: 5683px;
  	left: 1124px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div35 {
  	position: absolute;
  	top: 5715px;
  	left: 1091px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div36 {
  	position: absolute;
  	top: 5756px;
  	left: 1091px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div37 {
  	position: absolute;
  	top: 5790px;
  	left: 1113px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.div38 {
  	position: absolute;
  	top: 5820px;
  	left: 1153px;
  	font-weight: 800;
  	display: inline-block;
  	width: 79px;
  	height: 41px;
}
.desktop-14-child {
  	position: absolute;
  	top: 6452px;
  	left: 969px;
  	background-color: #fff;
  	width: 476px;
  	height: 474px;
}
.syaon4-2-icon {
  	position: absolute;
  	top: 6549px;
  	left: 1060px;
  	width: 294px;
  	height: 294px;
  	object-fit: cover;
}
.div39 {
  	position: absolute;
  	top: 1401px;
  	left: 717px;
  	font-size: 16px;
  	font-weight: 800;
  	display: inline-block;
  	width: 53px;
  	height: 23px;
}
.div40 {
  	position: absolute;
  	top: 1435.17px;
  	left: 876.27px;
  	font-size: 16px;
  	font-weight: 800;
  	display: inline-block;
  	width: 53px;
  	height: 23px;
  	transform:  rotate(36deg);
  	transform-origin: 0 0;
}
.div41 {
  	position: absolute;
  	top: 1556.4px;
  	left: 984.61px;
  	font-size: 16px;
  	font-weight: 800;
  	display: inline-block;
  	width: 53px;
  	height: 23px;
  	transform:  rotate(72deg);
  	transform-origin: 0 0;
}
.div42 {
  	position: absolute;
  	top: 1718.15px;
  	left: 1001px;
  	font-size: 16px;
  	font-weight: 800;
  	display: inline-block;
  	width: 53px;
  	height: 23px;
  	transform:  rotate(108deg);
  	transform-origin: 0 0;
}
.div43 {
  	position: absolute;
  	top: 1858.65px;
  	left: 919.18px;
  	font-size: 16px;
  	font-weight: 800;
  	display: inline-block;
  	width: 53px;
  	height: 23px;
  	transform:  rotate(144deg);
  	transform-origin: 0 0;
}
.div44 {
  	position: absolute;
  	top: 1924px;
  	left: 770px;
  	font-size: 16px;
  	font-weight: 800;
  	display: inline-block;
  	width: 53px;
  	height: 23px;
  	transform:  rotate(180deg);
  	transform-origin: 0 0;
}
.div45 {
  	position: absolute;
  	top: 1889.83px;
  	left: 611.51px;
  	font-size: 16px;
  	font-weight: 800;
  	display: inline-block;
  	width: 53px;
  	height: 23px;
  	transform:  rotate(-144deg);
  	transform-origin: 0 0;
}
.div46 {
  	position: absolute;
  	top: 1768.6px;
  	left: 503.17px;
  	font-size: 16px;
  	font-weight: 800;
  	display: inline-block;
  	width: 53px;
  	height: 23px;
  	transform:  rotate(-108deg);
  	transform-origin: 0 0;
}
.div47 {
  	position: absolute;
  	top: 1606.85px;
  	left: 486.78px;
  	font-size: 16px;
  	font-weight: 800;
  	display: inline-block;
  	width: 53px;
  	height: 23px;
  	transform:  rotate(-72deg);
  	transform-origin: 0 0;
}
.div48 {
  	position: absolute;
  	top: 1466.35px;
  	left: 568.6px;
  	font-size: 16px;
  	font-weight: 800;
  	display: inline-block;
  	width: 53px;
  	height: 23px;
  	transform:  rotate(-36deg);
  	transform-origin: 0 0;
}
.syabon2-icon3 {
  	position: absolute;
  	top: 320px;
  	left: 87px;
  	width: 325px;
  	height: 325px;
  	object-fit: cover;
}
.mask-group-icon {
  	position: absolute;
  	top: 4569px;
  	left: 0px;
  	width: 1497px;
  	height: 309px;
}
.div49 {
  	position: absolute;
  	top: 6619px;
  	left: 402px;
  	font-size: 96px;
  	font-weight: 800;
}
.desktop-14 {
  	width: 100%;
  	position: relative;
  	background-color: #c9e8f1;
  	height: 8898px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 20px;
  	color: #fff;
  	font-family: 'Shippori Mincho';
}

