body {
  margin: 0;
  overflow-y: scroll; /* 縦スクロールを有効化 */
  background: linear-gradient(#c4dfe6, #ffffff); /* 背景をグラデーションに設定 */
  height: 25000px; /* スクロール可能な範囲を設定 */
}
canvas {
  position: fixed; /* キャンバスを固定 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.sphere-label{
  position: fixed; /* 固定された位置 */
  top: 45%; /* 球体の真上に配置 */
  left: -100%; /* 初期位置を画面外に設定 */
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  width: 1548px;
  color: rgba(0, 0, 0, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  transition: color 1s ease-in-out, left 1s ease-in-out; /* アニメーションの設定 */
}

.sphere-label.visible{
  color: rgb(249, 249, 249); /* 浮かび上がる */
  left: 0%; /* 左から右に流れる */
}

.sphere-label.hidden{
  color: rgba(0, 0, 0, 0); /* 消える */
}
.sphere-label14{
  position: fixed; /* 固定された位置 */
  top: 50%; /* 球体の真上に配置 */
  left: -100%; /* 初期位置を画面外に設定 */
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  width: 1548px;
  color: rgba(0, 0, 0, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  transition: color 1s ease-in-out, left 1s ease-in-out; /* アニメーションの設定 */
}

.sphere-label14.visible{
  color: rgb(249, 249, 249); /* 浮かび上がる */
  left: 0%; /* 左から右に流れる */
}

.sphere-label14.hidden{
  color: rgba(0, 0, 0, 0); /* 消える */
}

.sphere-label13{
  position: fixed; /* 固定された位置 */
  top: 55%; /* 球体の真上に配置 */
  left: -100%; /* 初期位置を画面外に設定 */
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  width: 1548px;
  color: rgba(0, 0, 0, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  transition: color 1s ease-in-out, left 1s ease-in-out; /* アニメーションの設定 */
}

.sphere-label13.visible{
  color: rgb(249, 249, 249); /* 浮かび上がる */
  left: 0%; /* 左から右に流れる */
}

.sphere-label13.hidden{
  color: rgba(0, 0, 0, 0); /* 消える */
}


.sphere-label2 {
  position: fixed; /* 固定された位置 */
  top: 45%; /* 球体の真上に配置 */
  left: 100%; /* 初期位置を画面外に設定 */
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  width: 1548px;
  color: rgba(0, 0, 0, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  transition: color 1s ease-in-out, left 1s ease-in-out; /* アニメーションの設定 */
}

.sphere-label2.visible {
  color: rgb(249, 249, 249); /* 浮かび上がる */
  left:65%; /* 右から左に流れる */
}

.sphere-label3 {
  position: fixed;
  top: 10%; /* 球体の真上に配置 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  width: 1548px;
  color: rgba(0, 0, 0, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  white-space: nowrap; /* テキストを1行にする */
  overflow: hidden; /* テキストのオーバーフローを隠す */
  border-right: 2px solid rgba(255, 255, 255, 0.75); /* タイピングカーソル */
  transition: color 2s ease-in-out, opacity 2s ease-in-out; /* 浮かび上がるアニメーション */
  animation: none; /* 初期状態ではアニメーションなし */
}



.sphere-label3.visible {
  color: rgb(255, 255, 255); /* 表示状態 */
  animation: typing 4s steps(40, end), blink 0.5s step-end infinite; /* タイピングとカーソル点滅 */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-color: transparent;
  }
}

.center-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg); /* 初期状態で回転なし */
  max-width: 80%;
  max-height: 80%;
  opacity: 0; /* 初期状態で透明 */
  transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* 浮かび上がるアニメーションと回転 */
}

.center-image.visible {
  opacity: 1; /* 表示状態 */
  transform: translate(-50%, -50%) rotate(360deg); /* 回転アニメーション */
}
.sphere-label4 {
  position: fixed;
  top: 15%; /* 球体の真上に配置 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  width: 1548px;
  color: rgba(0, 0, 0, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  white-space: nowrap; /* テキストを1行にする */
  overflow: hidden; /* テキストのオーバーフローを隠す */
  border-right: 2px solid rgba(255, 255, 255, 0.75); /* タイピングカーソル */
  transition: color 2s ease-in-out, opacity 2s ease-in-out; /* 浮かび上がるアニメーション */
  animation: none; /* 初期状態ではアニメーションなし */
}

.sphere-label4.visible {
  color: rgb(255, 255, 255); /* 表示状態 */
  animation: typing 3s steps(40, end), blink 0.5s step-end infinite; /* タイピングとカーソル点滅 */
}
.sphere-label5 {
  position: fixed;
  top: 20%; /* 球体の真上に配置 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  width: 1548px;
  color: rgba(0, 0, 0, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  white-space: nowrap; /* テキストを1行にする */
  overflow: hidden; /* テキストのオーバーフローを隠す */
  border-right: 2px solid rgba(255, 255, 255, 0.75); /* タイピングカーソル */
  transition: color 2s ease-in-out, opacity 2s ease-in-out; /* 浮かび上がるアニメーション */
  animation: none; /* 初期状態ではアニメーションなし */
}

.sphere-label5.visible {
  color: rgb(255, 255, 255); /* 表示状態 */
  animation: typing 2s steps(40, end), blink 0.5s step-end infinite; /* タイピングとカーソル点滅 */
}

.sphere-label6 {
  position: fixed;
  top: 20%; /* 球体の真上に配置 */
  left: 100%; /* 初期位置を画面外に設定 */
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  width: 1548px;
  color: rgba(0, 0, 0, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  transition: color 1s ease-in-out, left 1s ease-in-out; /* フェードインと移動のアニメーション */
}

.sphere-label6.visible {
  color: rgb(255, 255, 255); /* 表示状態 */
  left: 25%; /* 画面中央に移動 */
}

.sphere-label7 {
  position: fixed;
  top: 80%; /* 球体の真上に配置 */
  left: 0%; /* 初期位置を画面外に設定 */
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  width: 1548px;
  color: rgba(0, 0, 0, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  transition: color 1s ease-in-out, left 1s ease-in-out; /* フェードインと移動のアニメーション */
}

.sphere-label7.visible {
  color: rgb(255, 255, 255); /* 表示状態 */
  left: 60%; /* 画面中央に移動 */
}
.sphere-label8 {
  position: fixed;
  top: 0%; /* 球体の真上に配置 */
  left: 25%; /* 初期位置を画面外に設定 */
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  width: 1548px;
  color: rgba(0, 0, 0, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  transition: color 1s ease-in-out,  1s ease-in-out; /* フェードインと移動のアニメーション */
}

.sphere-label8.visible {
  color: rgb(255, 255, 255); /* 表示状態 */
  top: 10%; /* 画面中央に移動 */
}

.sphere-label10 {
  position: fixed;
  top: 80%; /* 球体の真上に配置 */
  left: 0%; /* 初期位置を画面外に設定 */
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  width: 1548px;
  color: rgba(0, 0, 0, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  transition: color 1s ease-in-out, left 1s ease-in-out; /* フェードインと移動のアニメーション */
}

.sphere-label10.visible {
  color: rgb(255, 255, 255); /* 表示状態 */
  left: 60%; /* 画面中央に移動 */
}



.sphere-label11 {
  position: fixed;
  top: 80%; /* 球体の真上に配置 */
  left: 0%; /* 初期位置を画面外に設定 */
  transform: translateY(-50%) rotateX(0deg) rotateY(0deg); /* 初期状態で回転なし */
  font-size: 250px;
  font-weight: bold;
  width: 1548px;
  color: rgba(0, 0, 0, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  transition: color 1s ease-in-out, transform 2s ease-in-out; /* フェードインと回転のアニメーション */
}

.sphere-label11.visible {
  color: rgb(255, 255, 255); /* 表示状態 */
  transform: translateY(-50%) rotateX(360deg) rotateY(360deg); /* 立体的な回転アニメーション */
}

.center-image2 {
  position: fixed;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%) rotate(0deg); /* 初期状態で回転なし */
  max-width: 80%;
  max-height: 80%;
  opacity: 0; /* 初期状態で透明 */
  transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* 浮かび上がるアニメーションと回転 */
}

.center-image2.visible {
  opacity: 1; /* 表示状態 */
  transform: translate(-50%, -50%) rotate(360deg); /* 回転アニメーション */
}
.center-image3 {
  position: fixed;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%) rotate(0deg); /* 初期状態で回転なし */
  max-width: 80%;
  max-height: 80%;
  opacity: 0; /* 初期状態で透明 */
  transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* 浮かび上がるアニメーションと回転 */
}

.center-image3.visible {
  opacity: 1; /* 表示状態 */
  transform: translate(-50%, -50%) rotate(360deg); /* 回転アニメーション */
}

@media screen and (max-width: 768px) {
  body {
    height: auto; /* スクロール可能な範囲を調整 */
    background: linear-gradient(#C9E8F1, #ffffff); /* 背景を保持 */
  }

  .sphere-label, .sphere-label2, .sphere-label3, .sphere-label4, .sphere-label5, .sphere-label6, .sphere-label7, .sphere-label8, .sphere-label10, .sphere-label11 {
    font-size: 16px; /* フォントサイズを縮小 */
    width: auto; /* 幅を自動調整 */
    left: 10%; /* レイアウトを調整 */
    transform: translateY(-50%);
  }

  .center-image, .center-image2, .center-image3 {
    max-width: 100%; /* 画像サイズを調整 */
    max-height: 100%;
  }
}

.label1 {
  position: fixed;
  top: 50%; /* 画面の真ん中（垂直方向） */
  left: 20%; /* 画面の真ん中（水平方向） */
  transform: translate(-50%, -50%); /* 要素の中心を基準にして中央配置 */
  font-size: 48px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-family: 'Shippori Mincho', serif;
  z-index: 10; /* 他の要素より前面に表示 */
  text-align: center;
  /* 0-200pxの範囲内に表示 */
  max-width: 200px;
  max-height: 200px;
  opacity: 1; /* 初期状態で完全に表示 */
  transition: opacity 0.5s ease-out; /* スムーズなフェードアウト */
}

.label2 {
  position: fixed;
  top: 50%; /* 画面の上部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: regular;
  color: rgba(164, 163, 163, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 600px;
  transition: color 1s ease-in-out; /* フェードインアニメーション */
}

.label2.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.label3 {
  position: fixed;
  top: 60%; /* 画面の下部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: regular;
  color: rgba(255, 255, 255, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 400px;
  transition: color 1s ease-in-out; /* フェードインアニメーション */
}

.label3.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}



.label5 {
   position: fixed;
  top: 50%; /* 画面の上部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: regular;
  color: rgba(164, 163, 163, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 600px;
  transition: color 2s ease-in-out; /* フェードインアニメーション */
}

.label5.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.label6 {
  position: fixed;
  top: 60%; /* 画面の下部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: regular;
  color: rgba(255, 255, 255, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 400px;
  transition: color 2s ease-in-out; /* フェードインアニメーション */
}

.label6.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.label7 {
  position: fixed;
  top: 45%; /* 画面の上部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: regular;
  color: rgba(255, 255, 255, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 500px;
  transition: color 1s ease-in-out; /* フェードインアニメーション */
}

.label7.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.label8 {
  position: fixed;
  top: 50%; /* 画面の上部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: regular;
  color: rgba(164, 163, 163, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 600px;
  transition: color 2s ease-in-out; /* フェードインアニメーション */
}

.label8.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.label9 {
  position: fixed;
  top: 60%; /* 画面の下部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: regular;
  color: rgba(255, 255, 255, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 400px;
  transition: color 2s ease-in-out; /* フェードインアニメーション */
}

.label9.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}
.center-image5{
  position: fixed;
  top: 90%; /* 画面の上部 */
  left: 90%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: regular;
  color: rgba(164, 163, 163, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 600px;
  transition: color 2s ease-in-out; /* フェードインアニメーション */
}

.center-image5.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.center-image6 {
  position: fixed;
  top: 75%;
  left: 70%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
  opacity: 0; /* 初期状態で透明 */
  transition: opacity 2s ease-in-out; /* フェードインアニメーション */
}

.center-image6.visible {
  opacity: 1; /* 表示状態 */
}

.center-image7 {
  position: fixed;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
  opacity: 0; /* 初期状態で透明 */
  transition: opacity 2s ease-in-out; /* フェードインアニメーション */
}

.center-image7.visible {
  opacity: 1; /* 表示状態 */
}

.center-image8 {
  position: fixed;
  top: -100%; /* 初期位置を画面の上に設定 */
  left: 10%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
  opacity: 0; /* 初期状態で透明 */
  transition: opacity 2s ease-in-out, top 2s ease-in-out; /* フェードインと位置変更のアニメーション */
}

.center-image8.visible {
  opacity: 1; /* 表示状態 */
  top: 50%; /* 最終位置を画面中央に設定 */
}

.center-image9 {
  position: fixed;
  top: 150%; /* 初期位置を画面の下に設定 */
  left: 90%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
  opacity: 0; /* 初期状態で透明 */
  transition: opacity 2s ease-in-out, top 2s ease-in-out; /* フェードインと位置変更のアニメーション */
}

.center-image9.visible {
  opacity: 1; /* 表示状態 */
  top: 50%; /* 最終位置を画面中央に設定 */
}

.center-image10 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  opacity: 0; /* 初期状態で透明 */
  transition: opacity 2s ease-in-out; /* フェードインアニメーション */
}

.center-image10.visible {
  opacity: 1; /* 表示状態 */
}

.center-image11 {
  position: fixed;
  top: 45%;
  left: 52%;
  transform: translate(-50%, -50%) rotate(0deg); /* 初期状態で回転なし */
  max-width: 100%;
  max-height: 100%;
  opacity: 0; /* 初期状態で透明 */
  transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* 浮かび上がるアニメーションと回転 */
}

.center-image11.visible {
  opacity: 1; /* 表示状態 */
  transform: translate(-50%, -50%) rotate(360deg); /* 回転アニメーション */
}




.label10 {
  position: fixed;
  top: 45%; /* 画面の上部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: regular;
  color: rgba(255, 255, 255, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 500px;
  transition: color 1s ease-in-out; /* フェードインアニメーション */
}

.label10.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.label11 {
 position: fixed;
  top: 50%; /* 画面の上部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: regular;
  color: rgba(164, 163, 163, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 600px;
  transition: color 2s ease-in-out; /* フェードインアニメーション */
}

.label11.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.label12 {
  position: fixed;
  top: 60%; /* 画面の下部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: regular;
  color: rgba(255, 255, 255, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 400px;
  transition: color 2s ease-in-out; /* フェードインアニメーション */
}

.label12.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.label13 {
  position: fixed;
  top: 50%; /* 画面の上部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: regular;
  color: rgba(164, 163, 163, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 600px;
  transition: color 2s ease-in-out; /* フェードインアニメーション */
}

.label13.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.label14 {
  position: fixed;
  top: 60%; /* 画面の下部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: regular;
  color: rgba(255, 255, 255, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 400px;
  transition: color 2s ease-in-out; /* フェードインアニメーション */
}

.label14.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.label15 {
  position: fixed;
  top: 50%; /* 画面の上部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: regular;
  color: rgba(164, 163, 163, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 600px;
  transition: color 2s ease-in-out; /* フェードインアニメーション */
}

.label15.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}
.center-image4 {
  position: fixed;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%) rotate(0deg); /* 初期状態で回転なし */
  max-width: 80%;
  max-height: 80%;
  opacity: 0; /* 初期状態で透明 */
  transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* 浮かび上がるアニメーションと回転 */
}

.center-image4.visible {
  opacity: 1; /* 表示状態 */
  transform: translate(-50%, -50%) rotate(360deg); /* 回転アニメーション */
}
.center-image5 {
  position: fixed;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%) rotate(0deg); /* 初期状態で回転なし */
  max-width: 80%;
  max-height: 80%;
  opacity: 0; /* 初期状態で透明 */
  transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* 浮かび上がるアニメーションと回転 */
}

.center-image5.visible {
  opacity: 1; /* 表示状態 */
  transform: translate(-50%, -50%) rotate(360deg); /* 回転アニメーション */
}

.label16 {
  position: fixed;
  top: 60%; /* 画面の下部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: regular;
  color: rgba(255, 255, 255, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 400px;
  transition: color 2s ease-in-out; /* フェードインアニメーション */
}

.label16.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.label17 {
 position: fixed;
  top: 50%; /* 画面の上部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: regular;
  color: rgba(164, 163, 163, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 600px;
  transition: color 2s ease-in-out; /* フェードインアニメーション */
}

.label17.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.label18 {
  position: fixed;
  top: 60%; /* 画面の下部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: regular;
  color: rgba(255, 255, 255, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 400px;
  transition: color 2s ease-in-out; /* フェードインアニメーション */
}

.label18.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.label19 {
 position: fixed;
  top: 50%; /* 画面の上部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: regular;
  color: rgba(164, 163, 163, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 600px;
  transition: color 2s ease-in-out; /* フェードインアニメーション */
}

.label19.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.label20 {
  position: fixed;
  top: 60%; /* 画面の下部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: regular;
  color: rgba(255, 255, 255, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 400px;
  transition: color 2s ease-in-out; /* フェードインアニメーション */
}

.label20.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}
.label21 {
  position: fixed;
  top: 45%; /* 画面の上部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: regular;
  color: rgba(255, 255, 255, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 500px;
  transition: color 1s ease-in-out; /* フェードインアニメーション */
}

.label21.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.label22 {
 position: fixed;
  top: 50%; /* 画面の上部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: regular;
  color: rgba(164, 163, 163, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 600px;
  transition: color 2s ease-in-out; /* フェードインアニメーション */
}

.label22.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.label23 {
  position: fixed;
  top: 60%; /* 画面の下部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: regular;
  color: rgba(255, 255, 255, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 400px;
  transition: color 2s ease-in-out; /* フェードインアニメーション */
}

.label23.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}
.label24 {
  position: fixed;
  top: 45%; /* 画面の上部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: regular;
  color: rgba(255, 255, 255, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 500px;
  transition: color 1s ease-in-out; /* フェードインアニメーション */
}

.label24.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.label25 {
 position: fixed;
  top: 50%; /* 画面の上部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: regular;
  color: rgba(164, 163, 163, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 600px;
  transition: color 2s ease-in-out; /* フェードインアニメーション */
}

.label25.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.label26 {
  position: fixed;
  top: 60%; /* 画面の下部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: regular;
  color: rgba(255, 255, 255, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 400px;
  transition: color 2s ease-in-out; /* フェードインアニメーション */
}

.label26.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}
.label27 {
  position: fixed;
  top: 45%; /* 画面の上部 */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: regular;
  color: rgba(255, 255, 255, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  z-index: 10;
  text-align: center;
  max-width: 500px;
  transition: color 1s ease-in-out; /* フェードインアニメーション */
}

.label27.visible {
  color: rgb(181, 180, 180); /* 表示状態 */
}

.sphere-label15 {
  position: fixed; /* 固定された位置 */
  top: 50%; /* 球体の真上に配置 */
  left: 100%; /* 初期位置を画面外に設定 */
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  width: 1548px;
  color: rgba(0, 0, 0, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  transition: color 1s ease-in-out, left 1s ease-in-out; /* アニメーションの設定 */
}

.sphere-label15.visible {
  color: rgb(249, 249, 249); /* 浮かび上がる */
  left: 65%; /* 右から左に流れる */
}

.sphere-label15.hidden {
  color: rgba(0, 0, 0, 0); /* 消える */
}

.sphere-label16 {
  position: fixed; /* 固定された位置 */
  top: 55%; /* 球体の真上に配置 */
  left: 100%; /* 初期位置を画面外に設定 */
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  width: 1548px;
  color: rgba(0, 0, 0, 0); /* 初期状態で透明 */
  font-family: 'Shippori Mincho', serif;
  transition: color 1s ease-in-out, left 1s ease-in-out; /* アニメーションの設定 */
}

.sphere-label16.visible {
  color: rgb(249, 249, 249); /* 浮かび上がる */
  left: 65%; /* 右から左に流れる */
}

.sphere-label16.hidden {
  color: rgba(0, 0, 0, 0); /* 消える */
}
